.nav-bg {
	background-color: rgba(6, 34, 74, 1);
}

#body-bg {
      background-image: url('background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left top;
     
   }
.card{
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .4); 
  	border-radius: 7px;
  	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 7px;
	transition: all .5s;
	
}
.perfect {
	display:block; 
	 
	border:0 none; 
	width:100%;
	 
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11);
}


.card:hover {
 	background-color: rgba(255, 255, 255, 1);
 	transform: translateX(1px);
 	transform: translateY(1px);
 }
.card-img-bottom {
	border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.coba {
	position: relative;
	bottom: 100px;
	widt
}
.bungkus {
	display: flex;
	flex-flow: column wrap;
	flex-grow: column;
}
.bungkus-1 {
	padding: 0px;
	display: flex;
	flex-grow: column;
}
