.nav-bg {
	background-color: rgba(6, 34, 74, 1);
}
.buffer {
  width: 20px;
}
#body-bg {
      background-image: url('background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left top;
     
   }
.card{
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2); 
  border-radius: 7px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  transition: all .5s;
}
.card-header {
  padding: 0px 0px 10px 0px;
}

.space {
  width: 100%;
  padding: 0px 0px;
}

.btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-color: transparent;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2); 
  border-radius: 0px;
  background-color: transparent;
}
.btn-inner--text {
  font-size: 90%;
}


.large {
  transform: scale(1.3);
  margin:10px;
}
.btn-secondary {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2); 
  border-radius: 7px;
  backdrop-filter: blur(2px);
  background-color: rgba(6, 34, 74, 0.1);
  border-radius: 7px;
}
.btn-group {
  height: 80px;
}

